name: Gold Price Bot

on:
  schedule:
    - cron: "*/5 * * * *"   # mỗi 5 phút
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Run bot
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: node check-gold.js

      - name: Save price
        run: |
          git config user.name "gold-bot"
          git config user.email "gold-bot@github.com"
          git add data.json
          git commit -m "update gold price" || echo "no change"
          git push
